<form action="/records/{{ record._id }}/edit" method="POST">


  <input type="text" placeholder="name" name="name" value="{{ record.name }}">

  <input id="number" placeholder="amount" name="amount" type="number" value="{{ record.amount }}">

  <input id="date" name="date" placeholder="date" type="date" value="Date({{record.date }})">

  <input type="text" placeholder="category" name="category" value="{{ record.category }}">

  <button type="submit">Save</button>
  <a href="/">back</a>
</form>