<form action="/records/{{ record._id }}?_method=PUT" method="POST">

  <div class="input-group">


    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="text" placeholder="name" name="name" value="{{ record.name }}">

        <input id="number" placeholder="amount" name="amount" type="number" value="{{ record.amount }}">

        <input id="date" name="date" placeholder="date" type="date" value="Date({{record.date }})">

        <select name="category">
          <option selected>Select</option>


          <option value="{{ record.category }}">{{ record.category }}</option>

        </select>



      </div>
    </div>
    <div class="input-group-append">

      <button class="btn btn-success" type="submit">Save</button>
      <a href="/" class="btn btn-secondary">back</a>
    </div>
  </div>
</form>