<ul class="list-group">
  {{#each records}}

  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto">

        <h4>ID:{{this._id}}</h4>
        <h4>名字:{{this.name}}</h4>
        <h4>金額:{{this.amount}}</h4>
        <h4>日期:{{this.date}}</h4>
        <h4>類別:{{this.category}}</h4>
      </div>

      <div class="col-auto">
        <a class="btn btn-success" href="./records/{{ this._id }}/edit">edit</a><!-- 加入這行 -->


        <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>